/* swag-component */
.swag-background {
    display: block;
    height: 90vh;
    width: 100%;
}

/* 
.swag-background::before {
    background: url("./../assets/dots-small.svg");
    content: "";
    display: block !important;
    position: absolute;
    z-index: -1;

    top: 20%;
    height: 80%;
    left: 5%;
    width: 45%;
}

.swag-background::after {
    background: url("./../assets/dots-large.svg");
    content: "";
    display: block !important;
    position: absolute;
    z-index: -1;

    top: 0%;
    height: 90%;
    left: 50%;
    width: 45%;
} */

.random-svg {
    position: absolute;
}

.right.random-svg.circle {
    transform: scale(2) translate(15px);
}

.right.random-svg.arrowUp {
    transform: scale(3);
}

.left.random-svg.box {
    transform: scale(12);
}

.left.random-svg.upDown {
    transform: scale(3);
}