.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}


.drop-to-upload-highlight {
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
}

.drop-to-upload-unhighlight {
    background-color: rgba(0, 0, 0, 0);
}