body,
html {
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

:root {
  --border-color: rgba(0, 0, 0, 0.03);
  --paper-color: #f8f9f9;
  --bg-color : #ffffff;
}

hr {
  background-color: var(--border-color) !important;
}

.MuiDrawer-paperAnchorDockedLeft {
  border-right: solid 1px var(--border-color) !important;
  /* border-right: none !important; */
}

ul.thumbs.animated {
  justify-content: center;
  display: flex;
}

.crousel-component li.slide {
  align-items: center;
  justify-content: center;
  display: flex;
  background: transparent;
  padding: 0px 20px;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  #appbar-title {
    display: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}