body,
html {
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

:root {
  --border-color: rgba(0, 0, 0, 0.03);
  --paper-color: #f8f9f9;
  --bg-color: #ffffff;
}

hr {
  background-color: var(--border-color) !important;
}

.MuiDrawer-paperAnchorDockedLeft {
  border-right: solid 1px var(--border-color) !important;
}

ul.thumbs.animated {
  justify-content: center;
  display: flex;
}

.crousel-component li.slide {
  align-items: center;
  justify-content: center;
  display: flex;
  background: transparent;
  padding: 0px 20px;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  #appbar-title {
    display: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* animated component css */
.ml4 {
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
  width: 100%;
}

.ml4 .letters {
  position: absolute;
  opacity: 0;
  left: 0px;
}

/* swag-component */
.swag-background {
  display: block;
  height: 100vh;
  width: 100%;
}


.swag-background::before {
  background: url("assets/dots-small.svg");
  content: "";
  display: block !important;
  position: absolute;
  z-index: -1;
  
  top: 20%;
  height: 80%;
  left: 5%;
  width: 45%;
}

.swag-background::after {
  background: url("assets/dots-large.svg");
  content: "";
  display: block !important;
  position: absolute;
  z-index: -1;
  
  top: 0%;
  height: 90%;
  left: 50%;
  width: 45%;
}